SoapAssignment11/src/main/resources/wsdl/sample.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:sch="http://www.javatechie.com/spring/soap/api/employeeInfo"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://www.javatechie.com/spring/soap/api/employeeInfo"
    targetNamespace="http://www.javatechie.com/spring/soap/api/employeeInfo">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified"
            targetNamespace="http://www.javatechie.com/spring/soap/api/employeeInfo">
            <xsd:element name="EmployeeRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="employeeId" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="EmployeeResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="employeeName" type="xsd:string" />
                        <xsd:element name="employeeEmail" type="xsd:string" />
                        <xsd:element name="salary" type="xsd:double" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="EmployeeRequest">
        <wsdl:part element="tns:EmployeeRequest"
            name="EmployeeRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="EmployeeResponse">
        <wsdl:part element="tns:EmployeeResponse"
            name="EmployeeResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="EmployeeInfoService">
        <wsdl:operation name="GetEmployee">
            <wsdl:input message="tns:EmployeeRequest"
                name="EmployeeRequest">
            </wsdl:input>
            <wsdl:output message="tns:EmployeeResponse"
                name="EmployeeResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CreateEmployee">
            <wsdl:input message="tns:EmployeeRequest"
                name="EmployeeRequest">
            </wsdl:input>
            <wsdl:output message="tns:EmployeeResponse"
                name="EmployeeResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateEmployee">
            <wsdl:input message="tns:EmployeeRequest"
                name="EmployeeRequest">
            </wsdl:input>
            <wsdl:output message="tns:EmployeeResponse"
                name="EmployeeResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DeleteEmployee">
            <wsdl:input message="tns:EmployeeRequest"
                name="EmployeeRequest">
            </wsdl:input>
            <wsdl:output message="tns:EmployeeResponse"
                name="EmployeeResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EmployeeInfoServiceSoap11"
        type="tns:EmployeeInfoService">
        <soap:binding style="document"
            transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="GetEmployee">
            <soap:operation soapAction="" />
            <wsdl:input name="EmployeeRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="EmployeeResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CreateEmployee">
            <soap:operation soapAction="" />
            <wsdl:input name="EmployeeRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="EmployeeResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateEmployee">
            <soap:operation soapAction="" />
            <wsdl:input name="EmployeeRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="EmployeeResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DeleteEmployee">
            <soap:operation soapAction="" />
            <wsdl:input name="EmployeeRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="EmployeeResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EmployeeInfoService">
        <wsdl:port binding="tns:EmployeeInfoServiceSoap11"
            name="EmployeeInfoServiceSoap11">
            <soap:address location="http://localhost:8080/ws" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>